/* Header */ 
.custom-jumbo {
    background-color: var(--dark); 
    color: var(--light);
    border-radius: 0;
    border-bottom: 1px solid var(--dark);
    background-image: url("../../images/looking-up.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    background-size: cover;

    /* this is for a background image that isn't fixed */
    /* background-size: cover;
    background-position: center; */

    padding-top: 30vh;
}

.header-div {
    width: fit-content;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.custom-jumbo h1 {
    text-align: center;
    color: white;
    background-color: var(--purple);
    font-size: 5.5rem;
    padding: 0 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .75;
    backdrop-filter: blur(6px);
}

.custom-jumbo h2 {
    text-align: center;
    color: white;
    background-color: var(--purple);
    font-family: 'Courier New', Courier, monospace;
    opacity: .75;
    backdrop-filter: blur(6px);
}