.resume {
    background-color: white;
    min-height: 120vh;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.resume h1 {
    /* max-width: 80%;
    padding-top: 2rem; */
    line-height: 1.5;
}

.check-out-my-resume {
    max-width: 80vw;
    padding-top: 2rem;
    margin: 2rem auto;
}

.technologies-title {
    position: relative;
    left: 10vw;
    margin: 2rem 0;
}

.resume a {
    text-decoration: none;
}

.resume a span{
    color: var(--blue);
    /* text-decoration: underline; */
    border: solid 4px var(--blue);
    padding: 5px;
}

.resume a span:hover {
    /* color: rgb(75, 0, 160); */
    color: white;
    background-color: var(--blue);
    transition-duration: 500ms;
    transition-property: background-color, color;
}

.tech-logo {
    /* width: 100px; */
    /* max-height: auto; */
    margin: 1rem;
}

.technologies {
    margin: 0 auto 10rem;
}

.express-div, .mongodb-div {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .resume h1 {
        font-size: 1.5rem;
        width: 90%;
        margin: .5rem auto;
    }

    .technologies-title {
        left: 5%;
    }

    .technologies {
        position: relative;
        left: 15px;
    }
}